@model ProjetRendezVous.Persistence.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class="row w-100 h-100 d-flex justify-content-center align-items-center bg-light">
    <div class="col-md-8 w-100 h-100 d-flex justify-content-center align-items-center">
        <div id="loginForm" class="shadow-lg w-50 h-50 d-flex justify-content-center border border-secondary rounded align-content-center flex-column  px-3">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal d-flex w-100 h-100 justify-content-center align-content-center flex-column", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group w-100 d-flex justify-content-center flex-column">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group w-100 d-flex justify-content-center flex-column">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-12 ">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-12" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group pl-3">
                    <div class="">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group w-100">
                    <div class="d-flex justify-content-center">
                        <input type="submit" value="Log in" class="btn btn-info px-4 font-weight-bold" />
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="d-flex justify-content-center">
                    @Html.ActionLink("Password forget ?", "Dashboard_ForgetPassword", "Dashboard")
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
